#femp-page{
  background: #fff;
  border-top: 60px solid #262626;
  display: flex;
  height: 100vh;/* theme must be support viewport */
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;/* theme must be support viewport */
}
#femp-page h2{
  text-align: center;
  font-size: 50px;
  margin: 0;
}
#femp-div{
  display: block;
  margin: auto;
}
#femp-bg{
  border: 5px solid #ddd;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
#femp-title{
  font-size: 37px;
  padding: 0;
  text-align: center;
}
#femp-p{
  padding: 0 9%;
  text-align: center;
}
#femp-counter{
  display: block;
  font-size: 60px;
  text-align: center;
}
#femp-counter div{
  display: flex;
  font-size: 25px;
}
#femp-counter p{
  margin: auto;
  padding: 0;
}
@media(max-height:700px){
  #femp-page{
    border-bottom: 38px solid #262626;
  }
}
/* Animation fade in */
.femp-fade-in{
  -khtml-opacity: 0;
  -webkit-opacity: 0;
	opacity: 0;
	transition: all .5s;
}
.femp-faded, .femp-faded p{
  -khtml-opacity: 1!important;
  -webkit-opacity: 1!important;
	opacity: 1!important;
}
/* Prevent page scroll when femp start */
body {
  height: 100vh;
  overflow: hidden;
}
/* Empralidad-Theme support */
div#top-notice{
  display: none;
}
